﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Theme/Theme.Master" AutoEventWireup="true" CodeBehind="ContractInfo.aspx.cs" Inherits="AgentCustomer.WebPage.ContractInfo" MaintainScrollPositionOnPostback="true" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        .card-text span {
            color: black;
            font-size: 20px;
        }

        .th-Header {
            text-align: center;
        }
        .td-Text {
            text-align: left;
        }
        .td-Numeric {
            text-align: right;
        }


        button.Card-Main {
            padding: 12px 8px;
            margin: 2px;
            min-width: 120px !important;
            /*background-color: rgb(27,74,158) !important;*/
            background-image: -webkit-linear-gradient( 122deg, rgb(27,74,158) 0%, rgb(27,74,158) 100%) !important;
        }
            button.Card-Main h3 {
                font-size: 16px !important;
            }


        @media (min-width: 500px) {
            button.Card-Main {
                margin: 12px !important;
            }
        }

        .table th {
            font-size: 15px;
        }
        .table td {
            font-size: 14px;
        }
        .table tfoot td {
            font-weight: bold;
        }

        .nav-link.active {
            border-color: #FFF #faf6fb #ce75b4 !important;
            border-bottom-width: 3px;
        }

        .tab-content {
            padding-top: 0rem;
        }


        /*search box css start here*/
        .search-sec {
            /*background: #1A4668;*/
            padding: 2rem;
        }
        .search-slt {
            display: block;
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.5;
            color: #55595c;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            height: calc(3rem + 2px) !important;
            border-radius: 0;
        }
        .wrn-btn {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            height: calc(3rem + 2px) !important;
            border-radius: 0;
        }

    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="section light-bg" id="gallery">
        <div class="container">
                <div class="section-title" >
                <%--<small>合約帳戶</small>--%>
                <h3>合約總覽指標</h3>
            </div>
            <div class="row">

                <button type="button" class="btn btn-primary Card-Main" id="btnContractCount" runat="server">
                    <h3 style="color: #FFFFFF; font-weight: bold;">合約數</h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="lblContractCount" runat="server" Text="" style=""></asp:Label>
                    </span>
                </button>

                <button type="button" class="btn btn-primary Card-Main">
                    <h3 style="color: #FFFFFF; font-weight: bold;">本金</h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="lblBaseAmount" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>

                <button type="button" class="btn btn-primary Card-Main">
                    <h3 style="color: #FFFFFF; font-weight: bold;">可提領紅利</h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="lblCanOutAmount" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>
                
                <button type="button" class="btn btn-primary Card-Main" id="btnCanOutAmount_OnApply" runat="server" visible ="false" >
                    <h3 style="color: #FFFFFF; font-weight: bold;">可提領紅利(申請中)</h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="lblCanOutAmount_OnApply" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>
                
                <button type="button" class="btn btn-primary Card-Main" id="btnDueAssets" runat="server" visible ="false" >
                    <h3 style="color: #FFFFFF; font-weight: bold;">已到期未提領資產</h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="lblDueAssets" runat="server" Text="" style=""></asp:Label>
                    </span>
                </button>

                <button type="button" class="btn btn-primary Card-Main">
                    <h3 style="color: #FFFFFF; font-weight: bold;">總資產</h3>   
                    <span class="badge badge-light" style="font-size:17px">
                        <asp:Label ID="lblTotalBalance" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>

                <button type="button" class="btn btn-primary Card-Main">
                    <h3 style="color: #FFFFFF; font-weight: bold;">累積總派利<br /></h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="Label1" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>

                <button type="button" class="btn btn-primary Card-Main">
                    <h3 style="color: #FFFFFF; font-weight: bold;">累計投資年期<br /></h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="Label2" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>
                
                <button type="button" class="btn btn-primary Card-Main" id="btnUnApproveAmount" runat="server">
                    <h3 style="color: #FFFFFF; font-weight: bold;">審核中本金<br /></h3>   
                    <span class="badge badge-light" style="font-size: 17px">
                        <asp:Label ID="lblUnApproveAmount" runat="server" Text="" style="">10,000</asp:Label>
                    </span>
                </button>
                

            </div>
            
      <br />
             <br />
            <div class="section-title" >
                <%--<small>合約帳戶</small>--%>
                <h3>您的合約資料</h3>
            </div>


          <section class="search-sec" style="margin-bottom:0.75rem;display:none; ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <asp:DropDownList ID="drpOrder1" runat="server" CssClass="form-control search-slt">
                                        <asp:ListItem Text="選擇排序欄位 1" Value=""></asp:ListItem>
                                        <asp:ListItem Text="合約編號" Value="合約編號"></asp:ListItem>
                                        <asp:ListItem Text="幣別" Value="幣別"></asp:ListItem>
                                        <asp:ListItem Text="本金(A)" Value="本金(A)"></asp:ListItem>
                                        <asp:ListItem Text="累積紅利" Value="累積紅利"></asp:ListItem>
                                        <asp:ListItem Text="當月紅利" Value="當月紅利"></asp:ListItem>
                                        <asp:ListItem Text="可提領紅利(B)" Value="可提領紅利(B)"></asp:ListItem>
                                        <asp:ListItem Text="餘額(A+B)" Value="餘額(A+B)"></asp:ListItem>
                                        <asp:ListItem Text="合約起始日" Value="合約起始日"></asp:ListItem>
                                        <asp:ListItem Text="合約結束日" Value="合約結束日"></asp:ListItem>
                                        <asp:ListItem Text="合約展延日" Value="合約展延日"></asp:ListItem>
                                        <asp:ListItem Text="年期" Value="年期"></asp:ListItem>
                                    </asp:DropDownList>
                                </div>
                                 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <asp:DropDownList ID="drpOrder2" runat="server" CssClass="form-control search-slt">
                                        <asp:ListItem Text="選擇排序欄位 2" Value=""></asp:ListItem>
                                        <asp:ListItem Text="合約編號" Value="合約編號"></asp:ListItem>
                                        <asp:ListItem Text="幣別" Value="幣別"></asp:ListItem>
                                        <asp:ListItem Text="本金(A)" Value="本金(A)"></asp:ListItem>
                                        <asp:ListItem Text="累積紅利" Value="累積紅利"></asp:ListItem>
                                        <asp:ListItem Text="當月紅利" Value="當月紅利"></asp:ListItem>
                                        <asp:ListItem Text="可提領紅利(B)" Value="可提領紅利(B)"></asp:ListItem>
                                        <asp:ListItem Text="餘額(A+B)" Value="餘額(A+B)"></asp:ListItem>
                                        <asp:ListItem Text="合約起始日" Value="合約起始日"></asp:ListItem>
                                        <asp:ListItem Text="合約結束日" Value="合約結束日"></asp:ListItem>
                                        <asp:ListItem Text="合約展延日" Value="合約展延日"></asp:ListItem>
                                        <asp:ListItem Text="年期" Value="年期"></asp:ListItem>
                                    </asp:DropDownList>
                                </div>
                                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <asp:DropDownList ID="drpOrder3" runat="server" CssClass="form-control search-slt">
                                        <asp:ListItem Text="選擇排序欄位 3" Value=""></asp:ListItem>
                                        <asp:ListItem Text="合約編號" Value="合約編號"></asp:ListItem>
                                        <asp:ListItem Text="幣別" Value="幣別"></asp:ListItem>
                                        <asp:ListItem Text="本金(A)" Value="本金(A)"></asp:ListItem>
                                        <asp:ListItem Text="累積紅利" Value="累積紅利"></asp:ListItem>
                                        <asp:ListItem Text="當月紅利" Value="當月紅利"></asp:ListItem>
                                        <asp:ListItem Text="可提領紅利(B)" Value="可提領紅利(B)"></asp:ListItem>
                                        <asp:ListItem Text="餘額(A+B)" Value="餘額(A+B)"></asp:ListItem>
                                        <asp:ListItem Text="合約起始日" Value="合約起始日"></asp:ListItem>
                                        <asp:ListItem Text="合約結束日" Value="合約結束日"></asp:ListItem>
                                        <asp:ListItem Text="合約展延日" Value="合約展延日"></asp:ListItem>
                                        <asp:ListItem Text="年期" Value="年期"></asp:ListItem>
                                    </asp:DropDownList>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <asp:Button ID="btnSearch" runat="server" Text="Search" CssClass="btn btn-primary wrn-btn" OnClick="btnSearch_Click"
                                        style="cursor:pointer !important;" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <div style="display: none">
            <asp:Button ID="btnApplyAmount" runat="server" Text="紅利提領申請" OnClick="btnApplyAmount_Click" CssClass="btn btn-success" Visible="false" style="z-index:999; position:relative; cursor:pointer;" />
            <asp:Button ID="btnApplyStatus" runat="server" Text="申請進度查詢" OnClick="btnApplyStatus_Click" CssClass="btn btn-success" Visible="false" style="z-index:999; position:relative; cursor:pointer; top: 0px; left: 0px;" />
          </div>
                  <div id="divContractData" runat="server" style="position:relative; top:-35px;">

            </div>

        </div>
    </div>

    

    <div id="divSubmit" style="display:none; text-align:center; padding-top:13px;" title="">
        <div class="container">
            
            <div class="section-title" style="margin-bottom:0px;">
                <h3>紅利提領</h3>
            </div>

            <div class="row">
                <h4 class="card-title" style="padding-right:12px;">本金</h4>
                <p class="card-text"><asp:Label ID="lblContractAmount" runat="server" Text=""></asp:Label></p>
            </div>
            <div class="row">
                <h4 class="card-title" style="padding-right:12px;">餘額</h4>
                <p class="card-text"><asp:Label ID="lblBalance" runat="server" Text=""></asp:Label></p>
            </div>
            <div class="row">
                <h4 class="card-title" style="padding-right:12px;">提領金額</h4>
                <p class="card-text"><asp:textbox ID="txtAmountOut" runat="server" Text=""></asp:textbox></p>
            </div>

            <div id="divError" style="color:red;">

            </div>
        </div>
    </div>
    
    <div id="divSubmit2" style="display:none; text-align:center; padding-top:13px;" title="">
        <div class="container">
            
            <div class="section-title" style="margin-bottom:0px;">
                <h3>線上紅利提領申請<br />尚未開放</h3>
            </div>
        </div>
    </div>
    
    <div id="divDetail" style="display:none; text-align:center; padding-top:13px;overflow-y:auto;" title="">
        <div class="container">
            <div class="section-title" style="margin-bottom:0px;" id="divDetailData">
                
            </div>
        </div>
    </div>
    

    <asp:HiddenField ID="hidOrderNo" runat="server" />
    <asp:HiddenField ID="hidAmountOut" runat="server" />
    <asp:Button ID="btnShowDetail" runat="server" Text="" style=" width:0px; display:none;" OnClick="btnShowDetail_Click" />

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ScriptSection" runat="server">
    
    <script>

        function scrolify(tblAsJQueryObject, height) {
            var oTbl = tblAsJQueryObject;

            // for very large tables you can remove the four lines below
            // and wrap the table with <div> in the mark-up and assign
            // height and overflow property  
            var oTblDiv = $("<div/>");
            oTblDiv.css('height', height);
            //oTblDiv.css('overflow', 'scroll');
            oTblDiv.css('overflow-y', 'auto');
            oTbl.wrap(oTblDiv);

            // save original width
            oTbl.attr("data-item-original-width", oTbl.width());
            oTbl.find('thead tr td').each(function () {
                $(this).attr("data-item-original-width", $(this).width());
            });
            oTbl.find('tbody tr:eq(0) td').each(function () {
                $(this).attr("data-item-original-width", $(this).width());
            });


            // clone the original table
            var newTbl = oTbl.clone();

            // remove table header from original table
            oTbl.find('thead tr').remove();
            // remove table body from new table
            newTbl.find('tbody tr').remove();

            oTbl.parent().parent().prepend(newTbl);
            newTbl.wrap("<div/>");

            // replace ORIGINAL COLUMN width				
            newTbl.width(newTbl.attr('data-item-original-width'));
            newTbl.find('thead tr td').each(function () {
                $(this).width($(this).attr("data-item-original-width"));
            });
            oTbl.width(oTbl.attr('data-item-original-width'));
            oTbl.find('tbody tr:eq(0) td').each(function () {
                $(this).width($(this).attr("data-item-original-width"));
            });
        }

        $(document).ready(function () {
            scrolify($('#tb1'), 520); // 320 is height
        });

        function openDepositOut(strOrderNo, strContractAmount, strBalance) {
            $("#<%=this.hidOrderNo.ClientID%>").val(strOrderNo);
            $("#<%=this.lblContractAmount.ClientID%>").text(strContractAmount);
            $("#<%=this.lblBalance.ClientID%>").text(strBalance);
            $("#divError").html("").css("display", "none");
            $("#<%=this.hidAmountOut.ClientID%>").val("");
            $("#<%=this.txtAmountOut.ClientID%>").val("");
            
            $("#divSubmit2").dialog({
                height: 290,
                width: 400,
                modal: true,
                resizable: true,
                dialogClass: "",
                buttons:
                {
                    '確認': function () {
                        $(this).dialog('close');
                    }
                }
            });


            return;
            $("#divSubmit").dialog({
                height: 290,
                width: 360,
                modal: true,
                resizable: true,
                dialogClass: "",
                buttons:
                {
                    '確認': function () {
                        var amountContract = parseInt($("#<%=this.lblContractAmount.ClientID%>").text());
                        var amountBalance = parseInt($("#<%=this.lblBalance.ClientID%>").text());
                        var amountOut = parseInt($("#<%=this.txtAmountOut.ClientID%>").val());

                        console.log("amountContract:" + amountContract + ";amountBalance:" + amountBalance + ";amountOut:" + amountOut);
                        if (amountOut > amountBalance - amountContract) {
                            $("#divError").html("提領申請金額不能大於「餘額-本金」").css("display", "block");
                        } else {
                            $("#<%=this.hidAmountOut.ClientID%>").val(amountOut);
                            //  Todo > do submit
                            $(this).dialog('close');

                            $("<div>申請送出成功</div>").dialog();
                        }
                    },
                    '取消': function () {
                        $(this).dialog('close');
                    }
                }
            });
          
        }


        
        function openOrderDateil(dataOrder) {
          
            var strOrderNo = dataOrder[0].ORDER_NO;
            $("#<%=this.hidOrderNo.ClientID%>").val(strOrderNo);
            $("#<%=this.btnShowDetail.ClientID%>").click();
            return;

            $("#divDetailData").html("");

            var dataHeader = $("<h5>")
              .html("合約編號：" + dataOrder[0].ORDER_NO)
              .css("text-align", "left");
            $("#divDetailData").append(dataHeader);

            dataHeader = $("<h5>")
              .html("幣別：" + dataOrder[0].GetCURRENCY)
              .css("text-align", "left");
            $("#divDetailData").append(dataHeader);

            dataHeader = $("<h5>")
              .html("本金：" + dataOrder[0].GetBASE_AMOUNT)
              .css("text-align", "left");
            $("#divDetailData").append(dataHeader);


            dataHeader = $("<h5>")
                .html("合約起始日：" + dataOrder[0].GetFROM_DATE)
                .css("text-align", "left");
            $("#divDetailData").append(dataHeader);

            dataHeader = $("<h5>")
                .html("合約結束日：" + dataOrder[0].GetEND_DATE)
                .css("text-align", "left");
            $("#divDetailData").append(dataHeader);


            var dataTable = $("<table>")
                .addClass("table").addClass("rwdtable")
                .append
                (
                    $("<thead>")
                        .addClass("thead-light")
                        .append
                        (
                            $("<tr>")
                                .append($("<th>").html("出/入"))
                                .append($("<th>").html("交易類別"))
                                .append($("<th>").html("派息次數"))
                                .append($("<th>").html("交易日"))
                                .append($("<th>").html("金額"))
                        )
                );
            var dataBody = $("<tbody>");
            
            $.each(dataOrder, function (i, data) {
                $(dataBody)
                    .append
                    (
                        $("<tr>")

                            .append($("<td>").attr("data-label", "出/入").html(data.FLOW_TYPE))
                            .append($("<td>").attr("data-label", "交易類別").html(data.TXN_TYPE))
                            .append($("<td>").attr("data-label", "派息次數").html(data.INTEREST_TIMES))
                            .append($("<td>").attr("data-label", "交易日").html(data.GetTXN_DATE))
                            .append($("<td>").attr("data-label", "金額").html(data.AMOUNT))
                    )
            });

            $(dataTable).append(dataBody);
            $("#divDetailData").append(dataTable);


            var iWidth = 360;
            if ($(window).width() <= 500 && $(window).width() >= 450) {
                iWidth = 440;
            }

            if ($(window).width() <= 600 && $(window).width() > 500) {
                iWidth = 480;
            }

            if ($(window).width() >= 600) {
                iWidth = 600;
            }

            $("#divDetail").dialog({
                height: 420,
                width: iWidth,
                modal: true,
                resizable: true,
                dialogClass: "",
                buttons:
                {
                    '確認': function () {
                        $(this).dialog('close');
                    },
                    '關閉': function () {
                        $(this).dialog('close');
                    }
                }
            });
          
        }
    </script>

</asp:Content>
